/* makes the margin and padding 0, so we don't have any white space*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*got the bg code from https://www.sliderrevolution.com/resources/css-animated-background/ and adjusted it to my liking*/
body{
    background: linear-gradient(-45deg, #8100b1, #660979, #4242a8, #ad00ff);
    background-size: 400vh 400vw;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 50% 0;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0;
    }
}

a{
    text-decoration: none;
}

/*makes the nav have a base layout*/
nav {
    font-weight: bold;
    background: rgba(56, 56, 56, 0);
    display: grid   ;
    grid-template-columns: 2fr 6fr repeat(4, 1fr);
    grid-template-rows: 7vh;
    height: 7vh;
    z-index: 999;
    max-width: 100dvw;
}

.HomeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 2dvw;
    grid-column: 1;
    border: none;
    transition: font-size 0.75s ease;
}


.HomeButton:hover{
    font-size: 2.25dvw
}

/*creates an effect when you hover over a button*/
.AboutMe:hover, .MyProjects:hover, .Downloads:hover, .Contact:hover{
    font-size: 1.5dvw;
}
.dropdownContent a:hover{
    font-size: 1.25dvw;
}

.AboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    grid-column: 3;
    border: none;
    transition: font-size 0.75s ease;
    font-size: 1.25dvw;
}

/*makes sure the dropdown menu is in the right place*/
.dropdown {
    position: relative;
    display: inline-block;
}

.MyProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.25dvw;
    color: black;
    grid-column: 4;
    width: 100%;
    height: 100%;
    border: none;
    transition: font-size 0.75s ease;
}

.dropdownContent  {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.dropdownContent a {
    line-height: 2vh;
    font-size: 1.1dvw;
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    transition: font-size 0.75s ease;
}

/*shows the dropdown when hovered over*/
.dropdown:hover .dropdownContent {
    display: block;
}

.Downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.25dvw;
    grid-column: 5;
    border: none;
    transition: font-size 0.75s ease;
}

.Contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.25dvw;
    grid-column: 6;
    border: none;
    transition: font-size 0.75s ease;
}

label {
    font-size: 1.1dvw;
}

.indexcontainer{
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.starttext{
    font-size: 3dvw;
}

.homeimages img{
    height: 2.5dvw;
    padding: 0.5dvw;
}

footer{
    position: relative;
    display: flex;
    margin-top: 0;
    font-weight: bold;
    font-size: 1dvw;
    height: 2dvh;
    max-width: 100dvw;
    background: rgba(56, 56, 56, 0);
}

.contactcontainer{
    height: 81dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;
}

.pagetitle{
    display: flex;
    justify-content: center;
    font-size: 4dvw;
}

form input, textarea{
    margin: 0.5dvw;
    border-radius: 0.1dvw;
    background: rgba(100, 100, 0, 0.23);
    border: 1px solid rgba(56, 56, 56);
    width: 25dvw;
}

.contactcontainer img{
    height: 3dvw;
    padding: 0.5dvw;
}

.submit{
    background: rgba(56, 56, 56, 0);
    border: 1px solid rgba(56, 56, 56);
    height: 4dvh;
    width: 4dvw;
    font-size: 1dvw;
}

.submit:hover{
    background: rgba(30, 30, 30, 0.2);
}

.submit:active{
    background: rgba(15, 15, 15, 0.2);
}

.errorcontainer{
    height: 91dvh;
    width: 100dvw;
}

.projectscontainer{
    height: 91dvh;
    width: 98dvw;
    margin: 0 1dvw 0 1dvw;
}

.aboutcontainer{
    margin-top: 7dvh;
    height: 91dvh;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutcontainer pre{
    font-size: 1.5dvw;
}

.aboutcontainer a{
    color: slategray;
}

.downloadscontainer{
    height: 81dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv,
.resume{
    display: flex;
    flex-direction: column;
    margin: 2dvh;
    align-items: center;
    color: black;
}

.cv img,
.resume img{
    max-width: 15dvw;
    box-shadow: 1px 1px 3px;
    margin: 1dvh;
    transition: all 0.6s ease;
}

.cv h3,
.resume h3{
    transition: all 0.6s ease;
}

.cv:hover h3,
.resume:hover h3{
    font-size: 1.2dvw;
}

.cv:hover img,
.resume:hover img{
    max-width: 18vw;
}



.developmentcontainer,
.mediacontainer{
    font-size: 2.5dvw;
    margin-left: 1dvw;
    padding: 2dvh 0 2dvh 0;
}

#softwaredevelop,
#mediaproj{
    padding: 2dvh 0 2dvh 0;
    font-style: italic;
    font-size: 1.5dvw;
}

h2{
    font-size: 1dvw;
    font-weight: lighter;
    font-style: italic;
}

h3{
    font-size: 1dvw;
}

hr{
    border: none;
    height: 0.01dvh;
    background-color: black;
    margin: 1dvh;
}

/*followed this tutorial for the base of the code but edited it to my liking:*/
/*https://www.youtube.com/watch?v=RvpYnUZRquw*/

.projectscontainer input{
    display: none;
}

.portfoliop h1,
.charityp h1{
    display: flex;
    align-items: center;
}

h1 img{
    margin-left: auto;
}

.portfoliodrop,
.charitydrop{
    height: 3dvh;
    display: inline-block;
    rotate: 90deg;
    transition: 0.5s ease;
}

.portfoliop label,
.charityp label{
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.5s ease;
}

.portfoliop label:hover,
.charityp label:hover{
    font-size: 2dvw;
    transition: 0.5s ease;
}

.portfoliop label:hover img,
.charityp label:hover img{
    transform: scale(115%);
}

.portfoliop label:after,
.charityp label:after{
    content: "";
    position: absolute;
}

.portfoliop input:checked + label h1 .portfoliodrop,
.charityp input:checked + label h1 .charitydrop{
    transform: rotate(90deg);
}

.portfoliocollapsed,
.charitycollapsed{
    max-height: 0;
    overflow-wrap: anywhere;
    position: relative;
    top: -100%;
    transition: all 0.6s ease;
    opacity: 0;
}

.portfoliop input:checked ~ .portfoliocollapsed,
.charityp input:checked ~ .charitycollapsed{
    max-height: 50dvh;
    top: 0;
    opacity: 1;
}

.portfoliocollapsed h6,
.charitycollapsed{
    margin-bottom: 1dvh;
}